
.App {
    background-color: rgb(54, 46, 46);
    color: blanchedalmond;
    text-align: center;
    border-radius: 10px;
    border: 4px black solid;
    padding-bottom: 3%;
    min-height: 700px;
}

body {
    font-family: 'Bubbler One'
}

img {
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    top:0;
    position: sticky;
    z-index: 10000;
    width: 100%;
}

.navbarlinks {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.horizontalList {
    display: block;
    margin-bottom: 5%;
}

.flexDisplay {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

h3 {
    margin-top:30px;
}

.flexDisplayPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 50%;
    margin: auto;
    margin-top: 2%;
}

.flexDisplayOne {
    display: flex;
    justify-content: center;
}

.flexDisplayOne div {
    margin-left: 5%;
    width: max-content;
}

.songsList {
 display: flex;
 justify-content: space-between;
 align-items: center;
 gap: 40px;
 list-style: none;
 box-sizing: border-box;
 border: 1px black solid;
 border-radius: 10px;
 background-color: black;
 margin: 5px;
 padding: 8px 12px 8px 12px;
 flex-wrap: wrap;
}

.artistsList {
 box-sizing: border-box;
 border: 1px black solid;
 border-radius: 10px;
 background-color: black;
 padding: 8px 12px 8px 12px;
 width: max-content;
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}

.navbarlink {
    text-decoration: none; 
}

.activenavbarlink {
    font-weight: bolder;
    font-size: 1.5rem;
    border-radius: 5px;
    padding: 5px;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
  }
  
  a:hover, a:active {
    color: pink;
    text-decoration:underline
  }

  input {
    padding: 6px;
    border: none;
    margin-bottom: 8px;
    font-size: 17px;
  }

  .searchIcon {
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: grey;
    font-size: 17px;
    border: none;
    color: black;
  }

  .lyrics {
    box-sizing: border-box;
    border: 2px ;
    overflow: scroll;
    height: 300px;
    width: 40%;
    margin: auto;
    padding: 12px;
    overflow-x: hidden;
  }

  .lyrics::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  .lyrics::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  .lyrics::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .lyrics::-webkit-scrollbar-thumb:hover {
    background: grey; 
  }

  .lyricButton {
    background-color: black;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  .lyricButton:hover {
    background-color: rgb(148, 134, 134);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: white;
  }

  .lyricButton:focus {
    outline: none;
  }

  iframe {
      margin-top: 5%;
  }